<a href="https://colab.research.google.com/github/LCleu/Econometria/blob/main/Ibovespa_x_RF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.1 MB/s
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [3]:

import pandas as np
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [5]:
bovespa =  yf.download(tickers = ('^BVSP'), start = '1993-04-27') [['Adj Close']]

[*********************100%***********************]  1 of 1 completed

In [45]:
bovespa = bovespa.drop('1993-04-27')
bovespa

                Adj Close
Date
1993-04-28      24.299999
1993-04-29      23.700001
1993-04-30      24.100000
1993-05-03      24.100000
1993-05-04      24.900000
...                   ...
2022-09-19  111824.000000
2022-09-20  112517.000000
2022-09-21  111936.000000
2022-09-22  114070.000000
2022-09-23  111716.000000

[7278 rows x 1 columns]

In [46]:
retornoDiario = (bovespa['Adj Close']/bovespa['Adj Close'].shift(1)) -1
retornoDiario

Date
1993-04-28         NaN
1993-04-29   -0.024691
1993-04-30    0.016878
1993-05-03    0.000000
1993-05-04    0.033195
                ...
2022-09-19    0.023280
2022-09-20    0.006197
2022-09-21   -0.005164
2022-09-22    0.019064
2022-09-23   -0.020636
Name: Adj Close, Length: 7278, dtype: float64

In [47]:
bovespa

                Adj Close
Date
1993-04-28      24.299999
1993-04-29      23.700001
1993-04-30      24.100000
1993-05-03      24.100000
1993-05-04      24.900000
...                   ...
2022-09-19  111824.000000
2022-09-20  112517.000000
2022-09-21  111936.000000
2022-09-22  114070.000000
2022-09-23  111716.000000

[7278 rows x 1 columns]

In [48]:
retornoDiario_indexado = bovespa/bovespa.iloc[0]
retornoDiario_indexado

              Adj Close
Date
1993-04-28     1.000000
1993-04-29     0.975309
1993-04-30     0.991770
1993-05-03     0.991770
1993-05-04     1.024691
...                 ...
2022-09-19  4601.810844
2022-09-20  4630.329363
2022-09-21  4606.419898
2022-09-22  4694.238831
2022-09-23  4597.366399

[7278 rows x 1 columns]

In [49]:
retornoAnual = retornoDiario_indexado['Adj Close'].diff(periods = 252 )
(retornoAnual)

7278

In [53]:
retornoAnual = retornoAnual.dropna()
retornoAnual

Date
1994-05-05     58.584365
1994-05-06     61.176959
1994-05-09     57.518522
1994-05-10     62.711936
1994-05-11     62.600824
                 ...
2022-09-19   -133.292185
2022-09-20    -52.551442
2022-09-21     20.452676
2022-09-22    215.061735
2022-09-23     60.329220
Name: Adj Close, Length: 7026, dtype: float64

In [68]:
anos_retornos_negativos = retornoAnual[retornoAnual < 0].count()
anos_retornos_negativos

2494

In [71]:
anos_retornos_positivos = retornoAnual[retornoAnual > 0].count()
anos_retornos_positivos

4532

In [72]:
anos_retornos_negativos/len(retornoAnual)

0.35496726444634213

In [73]:
anos_retornos_positivos/len(retornoAnual)

0.6450327355536578

KeyError: ignored